/* Fade In */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Slide In from Left */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide In from Right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide In from Top */
@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide In from Bottom */
@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Jump In */
@keyframes jumpIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.hero {
  width: 100%;
  /* min-height: 100vh; */
  height: 130vh;
  background-color: #ffffff;
  padding-top: 30px;
  padding-right: 80px;
  padding-left: 80px;
  background: url('/hero_bg.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  /* Ensure the overlay starts at the left edge */
  bottom: 0;
  width: 100%;
  height: 50%;
  /* Adjust height as needed */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  /* Create a smooth gradient */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margin */
}

/* .after_overlay {
  margin-top: 60px;
} */

.big_intro_text {
  font-size: 65px;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
  max-width: 70%;
  margin: auto auto;
  padding-top: 40px;
  animation: jumpIn 1s ease-in-out;
  font-weight: 500;
  color: black;
}

.intro_para {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  font-weight: 300;
  animation: jumpIn .5s ease-in-out;
  font-weight: 250;
  color: black;
}

.empty {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  width: 100%;
  height: 60vh;
}

@media screen and (max-width:600px) {
  .hero {
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .big_intro_text {
    font-size: 40px;
    line-height: 1.4;
    max-width: 90%;
    padding-top: 100px;
  }
  
  .intro_para {
    font-size: 25px;
  }
}

@media screen and (max-width:375px) {
  .hero {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .big_intro_text {
    font-size: 30px;
    line-height: 1.3;
    max-width: 100%;
    padding-top: 100px;
  }
}

.vision {
  height: 150vh;
  width: 100%;
  background-color: #000;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  justify-content: center;
}

.col_1 {
  display: flex;
  gap: 60px;
  flex: 1 1 0;
  /* background-color: blue; */
}

.vision_content {
  display: block;
}

.vision_content > div > p {
  color: white;
}

.vision_content > div > p:first-child {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 30px;
  max-width: 65%;
  line-height: 1.6;
}

.vision_content > div > p:last-child {
  font-size: 20px;
  max-width: 90%;
  line-height: 1.6;
}

.content_head {
  color: white;
  font-weight: 200;
}

.col_2 {
  flex: 1 1 0;
  /* background-color: red; */
}

.col_2 > .flex_image {
  height: 100%;
  width: 100%;
  /* transform: scale(1.5); */
  transition: transform fadeIn ease-in;
}

@media screen and (max-width:600px) {
  .vision {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .col_1 {
    padding-top: 50px;
    gap: 26.5px;
  }
  
  .vision_content > div > p:first-child {
    max-width: 90%;
    font-size: 25px;
  }
  
  .vision_content > div > p:last-child {
    max-width: 100%;
    font-size: 18px;
  }
}

/* SERVICES */
.services {
  /* height: auto; */
  width: 100%;
  background-color: white;
}

.service_line_container {
  height: auto;
  display: flex;
}

.line {
  border: 1px solid #b4b4b4;
  height: 100%;
}

.line_child {
  border: 2px solid #000;
  height: 70%;
  border-radius: 7px;
  align-self: flex-end;
  /* margin-top: 100px; */
}

.service_col {
  padding-top: 40px;
  padding-left: 80px;
  display: flex;
  gap: 60px;
}

.services_main_content {
  display: block;
}
.services_main_content h2{
  font-weight: 400;
  color: black;
}

.services_main_content > p {
  margin-top: 40px;
  max-width: 40%;
  font-size: 30px;
  line-height: 1.6;
  color: black;
}

/* why autono? */
.why_autono {
  /* height: 100vh; */
  width: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}

.why_autono_content {
  /* height: 100%;   */
  background-color: #000;
  color: white;
  width: 40%;
  padding: 20px 40px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.autono_line_container {
  height: 500px;
  display: flex;

}

.autono_line {
  border: 1px solid #b4b4b4;
  height: 100%;
}

.autono_line_child {
  border: 2px solid #ffffff;
  height: 20%;
  border-radius: 7px;
  margin-top: 50px;
}

.why_autono_content > div > h2 {
  font-size: 17px;
  font-weight: 100;
}

.why_autono_content_intro {
  padding-top: 30px;
  /* background-color: red; */
  font-size: 25px;
  max-width: 80%;
  line-height: 1.5;
}

.why_autono_content_main_text {
  padding-top: 30px;
  font-size: 19px;
  max-width: 90%;
  line-height: 1.6;
  padding-bottom: 20px;
}

.why_autono_content > button {
  border-width: 1px;
  border-color: white;
}

@media screen and (max-width:600px) {
  .service_col {
    padding-left: 30px;
    gap: 26.5px;
  }
  
  .services_main_content > p {
    max-width: 90%;
    font-size: 25px;
  }
  
  .why_autono {
    padding-left: 30px;
  }
  
  .why_autono_content {
    width: 90%;
  }
  
  .why_autono_content_intro {
    padding-right: 11px;
    max-width: 100%;
    font-size: 22px;
    line-height: 1.4;
  }
  
  .why_autono_content_main_text {
    font-size: 17px;
    line-height: 1.4;
    max-width: 100%;

  }
}
/* NUMBERS */
.numbers {
  /* height: 100vh; */
  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover:hover) and (pointer:fine) {
}

@media (prefers-color-scheme:dark) {
  .logo {
    filter: invert();
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(-100);
  }
  
  to {
    transform: translateX(0);
  }
}